.contact-information {
	display: inline-block;
	margin-top: 5px;
	color: #999;
	transition: color .15s linear;
	text-decoration: none;
	&:hover {
		color: #fff;
	}
	@media (max-width: 767px) {
		margin-bottom: 30px;
	}
}

.closed,
.gmt-notice {
	font-style: italic;
}

.availability {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.05rem;

	dt {
		width: 40%;
		text-align: right;
		&::after {
			content: ':';
		}
	}

	dd {
		width: 60%;
		margin-left: 0;
		padding-left: .6em;
		text-align: left;
	}
}
