.social-ribbon {
	width: 100vw;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: rgba(5, 5, 5, .6);

	ul {
		display: flex;
		justify-content: space-around;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
	}

	svg {
		opacity: .7;
		transition: opacity .15s linear;
		color: #020202;
		font-size: 3rem;
		&:hover {
			opacity: .95;
		}
	}
}
